{{!-- data will go inside the body & need to change to relevant data variable declared--}} 
<div class="container">

    


    <span class={{weatherInfo.main}}>

        <form action="/" method="post">
            <input class="input" type="text" name="city" placeholder="Enter a city">
            <input class="button" type="submit" value="submit"></input>
        </form>

        <div class="content">
            {{#if weatherInfo}}
            <h1>{{weatherInfo.name}},{{weatherInfo.country}}</h1>
           
            
            <div class="temperature">
                <div>
                    <img class="weather-icon" src={{weatherInfo.icon}} />
                </div>
               
                <div>
                    <p class="temp"> Temp: {{weatherInfo.temp}}</p>
                    <p class="temp">Feels like: {{weatherInfo.feelslike}}</p>
                </div>
                
            </div>
            <p>{{weatherInfo.description}}</p>
            {{/if}}
        </div>
    </span>
</div>

